In [2]:
import pandas as pd
print(pd.__version__)

1.5.3

In [4]:
import pandas
result=pandas.read_csv("READ2.csv")
print(result)

        NAME        PLACE  DISTANCE  FEE
0     BAIVAB       BANDEL        13   10
1       AYAN     BIRNAGER        39   40
2  BHSIMADEV  PURBASTHALI        60   50
3      ARPAN        KATWA       125   30
4    ARINDUM       SHIMUR        79   89
5       ARAY    BARACKPUR        22   15
6     AYAN.K      TRIBANI         5    5

# DataFrame

In [5]:
import pandas
from pandas import DataFrame
c={
   'Programming language': ['ruby', 'perl','diamond'],
   'Designed by': ['rohon','parul','dipak'],
   'Appeared': ['1900','1950','2000'],
   'Extension': ['.rb','.pr','.dy']
}
df=DataFrame(c,columns = ['Programming language','Designed by','Appeared','Extension'])
export_csv=df.to_csv('READ.csv',index=None,header=True)
print(df)

  Programming language Designed by Appeared Extension
0                 ruby       rohon     1900       .rb
1                 perl       parul     1950       .pr
2              diamond       dipak     2000       .dy

In [1]:
import pandas
from pandas import DataFrame
lnm=input("Enter language's name: ")
inm=input("Enter inventor's name: ")
ryr=input("Enter releasing year: ")
enm=input("Enter extension's name: ")
C={
   'Programming language': [lnm],
   'Designed by': [inm],
   'Appeared': [ryr],
   'Extension': [enm]
}
df=DataFrame(C, columns=['Programming language','Designed by','Appeared','Extension'])
export_csv=df.to_csv('USER_DATA.csv',index=None, header=True)
print(df)

Enter language's name: Python
Enter inventor's name: Baivab Sarkar
Enter releasing year: 2002
Enter extension's name: .bs
  Programming language    Designed by Appeared Extension
0               Python  Baivab Sarkar     2002       .bs

In [6]:
import pandas as pd
a=pd.Series()
print(a)

Series([], dtype: float64)

C:\Users\baiva\AppData\Local\Temp\ipykernel_4544\684786497.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

In [7]:
b=pd.Series([11,12,13,14])
print(b)

0    11
1    12
2    13
3    14
dtype: int64

In [8]:
c=pd.Series([11,12,13,14],index=['a','b','c','d'])
print(c)

a    11
b    12
c    13
d    14
dtype: int64

In [9]:
d={"id":101,"name":"Vipin","age":2}
d1=pd.Series(d)
print(d1)

id        101
name    Vipin
age         2
dtype: object

In [10]:
s={"name" : ["Baivab","Bhsima","Ayan","Arpan"],
"phy" : [95,22,14,100],
"chem" : [22,11,22,95],
"math" : [84,54,45,78]}
p=pd.Series(s)
print(p)

name    [Baivab, Bhsima, Ayan, Arpan]
phy                 [95, 22, 14, 100]
chem                 [22, 11, 22, 95]
math                 [84, 54, 45, 78]
dtype: object

In [11]:
d=pd.DataFrame(s)
print(d)

     name  phy  chem  math
0  Baivab   95    22    84
1  Bhsima   22    11    54
2    Ayan   14    22    45
3   Arpan  100    95    78

In [12]:
r={"name":"Arya","phy":98,"chem":84,"math":15}
d2=d.append(r,ignore_index = True)
print(d2)

C:\Users\baiva\AppData\Local\Temp\ipykernel_4544\1207687796.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  d2=d.append(r,ignore_index = True)

     name  phy  chem  math
0  Baivab   95    22    84
1  Bhsima   22    11    54
2    Ayan   14    22    45
3   Arpan  100    95    78
4    Arya   98    84    15

In [13]:
d1=d2.pop("phy")
print(d1)
print(d2)

0     95
1     22
2     14
3    100
4     98
Name: phy, dtype: int64
     name  chem  math
0  Baivab    22    84
1  Bhsima    11    54
2    Ayan    22    45
3   Arpan    95    78
4    Arya    84    15

In [14]:
import pandas as pd
df=pd.read_csv("Income_data.csv")
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [15]:
df1=df.set_index("State")
print(df1)

                GEOID   2005   2006   2007   2008   2009   2010   2011   2012  \
State
Alabama     04000US01  37150  37952  42212  44476  39980  40933  42590  43464
Alaska      04000US02  55891  56418  62993  63989  61604  57848  57431  63648
Arizona     04000US04  45245  46657  47215  46914  45739  46896  48621  47044
Arkansas    04000US05  36658  37057  40795  39586  36538  38587  41302  39018
California  04000US06  51755  55319  55734  57014  56134  54283  53367  57020

             2013
State
Alabama     41381
Alaska      61137
Arizona     50602
Arkansas    39919
California  57528

In [16]:
# SLicing Dataframe 
# iloc [start row index : end row index,
#       start column index : end column index]
df2=df1.iloc[:3,1:4]
print(df2)

          2005   2006   2007
State
Alabama  37150  37952  42212
Alaska   55891  56418  62993
Arizona  45245  46657  47215

In [17]:
#using loc method
#loc[start_row_name:end_row_name,start_col_name:end_col_name]  //it include the end_row/col
df3=df1.loc["Alabama":"Arizona","2005":"2007"]
print(df3)

          2005   2006   2007
State
Alabama  37150  37952  42212
Alaska   55891  56418  62993
Arizona  45245  46657  47215

In [18]:
print(df3.sum(axis=0))
print(df3.sum(axis=1))

2005    138286
2006    141027
2007    152420
dtype: int64
State
Alabama    117314
Alaska     175302
Arizona    139117
dtype: int64

In [19]:
#alabama, Alaska,and Arizona for year 2005,2007,2009
m=df1.iloc[:3,[1,3,5]]
print(m)

          2005   2007   2009
State
Alabama  37150  42212  39980
Alaska   55891  62993  61604
Arizona  45245  47215  45739

In [20]:
n=df1.loc["Alabama":"Arizona",["2005","2007","2009"]]
print(n)

          2005   2007   2009
State
Alabama  37150  42212  39980
Alaska   55891  62993  61604
Arizona  45245  47215  45739

In [21]:
n1=df1.iloc[4:,1:]
print(n1)

             2005   2006   2007   2008   2009   2010   2011   2012   2013
State
California  51755  55319  55734  57014  56134  54283  53367  57020  57528

In [22]:
print(n1.sum(axis=1))

State
California    498154
dtype: int64

In [23]:
#sum of total sales in Alaska from 2005 to 2013
n2=df1.loc["Alaska":"Alaska","2005":"2013"]
print(n2)
print(n2.sum(axis=1))

         2005   2006   2007   2008   2009   2010   2011   2012   2013
State
Alaska  55891  56418  62993  63989  61604  57848  57431  63648  61137
State
Alaska    540959
dtype: int64

In [24]:
data = pd.read_csv('dist.txt', delimiter= '\s+',header=None, index_col=False)
data.columns = ["a", "b", "c"]
print(data)

   a  b      c
0  1  1   2.92
1  1  2  70.75
2  1  3  60.90
3  2  1  71.34
4  2  2   5.23
5  2  3  38.56
6  3  1  61.24
7  3  2  38.68
8  3  3   4.49

In [25]:
import pandas as pd
df =pd.read_table('dist.txt', delim_whitespace=True, names=('A', 'B','C'))
print(df)

   A  B      C
0  1  1   2.92
1  1  2  70.75
2  1  3  60.90
3  2  1  71.34
4  2  2   5.23
5  2  3  38.56
6  3  1  61.24
7  3  2  38.68
8  3  3   4.49